* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 90%;
  scroll-behavior: smooth;
  color: #212529;
}

section {
  padding: 150px 0;
}

.grid-boxes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
  grid-template-columns: 50% 50%;
}

#intro {
  position: relative;
  width: 100%;
  height: 100vh;
  color: #fff;
  background-image: url(./assets/photo-1605790334997-08f4831e36ff.jpg);
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  background-color: #111;
  min-height: 600px;
  padding: 0;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #000;
  z-index: 2;
  opacity: 0.6;
}

.content {
  position: relative;
  font-size: 1.7rem;
  color: #fff;
  width: 100%;
  top: 50%;
  z-index: 10;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.content h1 {
  text-transform: uppercase;
  font-size: 3rem;
}

.content p {
  font-style: italic;
}

.content-row {
  padding: 0 2rem;
}

.animate-bounce {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-items: center;
  -webkit-animation: bounce 1s infinite;
  animation: bounce 1s infinite;
}

.arrow-container {
  z-index: 5;
  cursor: pointer;
}

.arrow-img {
  opacity: 10%;
  width: 50px;
  height: 50px;
}

.header {
  font-family: "Cardo", "Times New Roman", Times, serif;
  background: #ffffff;
  padding-top: 0;
  padding-bottom: 0;
  -webkit-box-shadow: 0 1px 0 #ddd;
  box-shadow: 0 1px 0 #ddd;
  position: -webkit-sticky;
  position: sticky;
  z-index: 999;
}

.navbar {
  -webkit-box-shadow: 0 1px 0 #ddd;
  box-shadow: 0 1px 0 #ddd;
  font-size: 1.5rem;
}

.navbar .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
  grid-template-columns: auto auto;
}

.logo a {
  padding: 15px 0;
}

.container {
  margin: 0 300px;
}

.navbar-fixed {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 999;
}

.navbar a {
  text-decoration: none;
  display: inline-block;
}

.navbar a:link,
.navbar a:visited,
.navbar a:hover,
.navbar a:active {
  color: #333;
}

.nav-links {
  display: inline-block;
  text-align: right;
}

.navbar-list {
  list-style: none;
}

.nav-item {
  font-style: italic;
  display: inline-block;
  color: #777;
  padding-right: 15px;
}

.nav-item:last-child {
  padding-right: 0;
}

.nav-item a {
  padding: 15px 0;
}

.nav-item a:link,
.nav-item a:visited {
  color: #777777;
}

.nav-item a:hover,
.nav-item a:active,
.nav-item .active {
  color: #333;
  border-bottom: 1px solid #000;
}

.burger {
  display: none;
  cursor: pointer;
  padding: 10px 0;
  -ms-grid-column-align: end;
  justify-self: end;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #000;
  margin: 5px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
  -ms-transform: rotate(-45deg) translate(-5px, 6px);
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
  -ms-transform: rotate(45deg) translate(-5px, -6px);
  transform: rotate(45deg) translate(-5px, -6px);
}

#about {
  color: #000;
  line-height: 1.44;
}

.heading {
  margin-bottom: 0.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 1.44;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-bottom: 40px;
  font-size: 2.5rem;
}

.heading:after {
  content: " ";
  display: block;
  width: 100px;
  height: 2px;
  margin: 20px 0 20px;
  background: #555;
}

.img-container {
  margin: 15px 0;
  padding-top: 30px;
  text-align: center;
}

.img-container img {
  border-radius: 50%;
  max-width: 100%;
  height: auto;
}

p.subheading {
  font-size: 1.9rem;
}

p {
  margin-bottom: 1rem;
  line-height: 1.5;
}

#skills {
  background: #eeeeee;
}

.skillsLogo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 5px auto 5px auto 5px auto;
  grid-template-columns: auto auto auto auto;
  text-align: center;
  gap: 5px;
}

.skillsLogo p {
  background-color: #f8f8f8;
}

.skillsLogo img {
  height: 100px;
}

#projects {
  background: #333333;
  color: #fff;
}

#projects .heading:after {
  background: #fff;
}

.project-info {
  padding: 50px 0;
  font-size: 1.025rem;
}

.project-rows {
  gap: 50px 0;
}

.project-img {
  text-align: right;
}

.project-img img {
  max-width: 90%;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
}

.project-two {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 3 / 3;
}

.project-two-img {
  text-align: left;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2 / 1 / 3 / 2;
}
.project-four {
  grid-area: 4 / 2 / 5 / 3;
}

.project-four-img {
  text-align: left;
  grid-area: 4 / 1 / 5 / 2;
}

.technologies {
  text-transform: uppercase;
  text-align: center;
  font-size: 0.8rem;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 5px;
}

.technologies span {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
}

.light-to-dark:hover {
  animation: lightToDark 5s ease-in;
}

#contact {
  background: #ffffff;
  color: #000;
}

form.contact {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
  grid-template-columns: auto;
  margin-bottom: 1rem;
}

.formResults {
  text-align: center;
  font-size: 1.4rem;
}

.success {
  color: #009c4e;
  margin-bottom: 1rem;
}

.warning {
  color: #d4d800;
  margin-bottom: 1rem;
}

.error {
  color: #eb0000;
  font-weight: bold;
  margin-bottom: 1rem;
}

.form-row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 48% 4% 48%;
  grid-template-columns: 48% 48%;
  gap: 0 4%;
}

.form-row input {
  width: 100%;
}

.form-item {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
  grid-template-columns: auto;
  margin-bottom: 1rem;
}

label {
  display: block;
  font-weight: bold;
  font-size: 1.2rem;
  padding-bottom: 8px;
}

input {
  padding: 8px;
  font-size: 1.2rem;
}

textarea {
  padding: 8px;
  font-size: 1.4rem;
  resize: vertical;
}

.textareaFeedback {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
  grid-template-columns: auto auto;
}

.chars {
  color: #009c4e;
  text-align: right;
}
.maxLimit {
  color: #c00;
}
.minLimit {
  color: #666;
}

.firstNameFeedback,
.lastNameFeedback,
.emailFeedback,
.msgFeedback {
  color: red;
}

.is-invalid {
  border: 2px solid red;
}

.is-valid {
  border: 2px solid green;
}

.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #eeeeee;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #cccccc;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #cccccc;
}

input[type="submit"] {
  font-size: 1.2rem;
  padding: 8px;
}

input[type="submit"]:hover {
  color: #fff;
  background: #333333;
}
input[type="submit"]:focus {
  outline: none;
  border: none;
}

.contact-info {
  font-size: 1.2rem;
  margin: 7rem 0;
  padding-left: 1rem;
}

.social-media {
  font-size: 2rem;
  font-weight: bold;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  text-align: center;
}

.social-media a:link,
.social-media a:visited {
  text-decoration: none;
}

.githubLink:link,
.githubLink:visited,
.githubLink:hover {
  color: #a507aa;
}

.inLink:link,
.inLink:visited,
.inLink:hover {
  color: #0a66c2;
}

.resume:link,
.resume:visited,
.resume:hover {
  color: #000f96;
}

footer {
  font-family: "Cardo", "Times New Roman", Times, serif;
  background: #111111;
  color: #fff;
  padding: 50px 0;
  text-align: center;
  font-size: 1.2rem;
}

@media screen and (max-width: 1400px) {
  .container {
    margin: 0 150px;
  }
}

@media only screen and (max-device-width: 1366px) {
  .intro {
    background-attachment: scroll;
  }
  .content {
    font-size: 1.7rem;
  }
  .content h1 {
    font-size: 2rem;
  }

  .content-row {
    padding: 0 1rem;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    margin: 0 75px;
  }

  .navbar {
    padding: 0px;
  }

  .logo {
    font-size: 1.7rem;
  }

  .nav-links {
    display: none;
  }

  .burger {
    display: block;
  }

  .nav-item {
    padding: 0px;
  }

  .nav-item a {
    width: 100%;
  }
  .nav-active {
    display: block !important;
    text-align: left;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 2 / 1 / 3 / 3;
  }
  .nav-active .nav-item {
    display: block;
    width: 100%;
    overflow: hidden;
  }
  .grid-boxes {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
    grid-template-columns: auto;
  }
  .skillsLogo {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    text-align: center;
    gap: 3px;
  }

  .project-rows {
    gap: 10px 0;
  }
  .technologies {
    -ms-grid-columns: 40% 0 40%;
    grid-template-columns: 40% 40%;
    gap: 2px 0;
  }

  .project-img {
    text-align: center;
  }

  .project-two {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    grid-area: 3 / 1 / 4 / 2;
  }

  .project-two-img {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    grid-area: 4 / 1 / 5 / 2;
  }

  .project-four {
    grid-area: 7 / 1 / 8 / 2;
  }

  .project-four-img {
    text-align: left;
    grid-area: 8 / 1 / 9 / 2;
  }

  form.contact {
    -ms-grid-row: 2;
    grid-row-start: 2;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    margin-bottom: 1rem;
  }
  .form-row {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
    grid-template-columns: auto;
  }
  .contact-info {
    margin: 0;
    -ms-grid-row: 1;
    grid-row-start: 1;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }
}

@media screen and (max-width: 768px) {
  section {
    padding: 60px 0;
  }

  .navbar {
    margin: 0;
  }

  .container {
    margin: 0 10px;
  }
  .img-container img {
    width: 200px;
  }
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@keyframes lightToDark {
  0% {
    content: url(/assets/rickmorty-light.png);
  }
  100% {
    content: url(/assets/rickmorty-dark.png);
  }
}

@keyframes bounce {
  0%,
  100% {
    bottom: 0;
  }
  50% {
    bottom: 5px;
  }
}

/* *Later: dark theme */
/* @media (prefers-color-scheme: dark) {
  html {
    background: #000;
    color: #fff;
  }
  #about {
    color: #fff;
  }

  #contact {
    background: #000;
    color: #fff;
  }

}  */
